#contact {
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    padding-bottom: 20px;
}

.left-contact {
    display: none; 
}

.right-contact {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex: 2; 
    height: auto;
    border-width: 4px 2px 3px 3px;
    border-top-left-radius: 0.22% 275px;
    border-top-right-radius: 300px 0.7%;
    border-bottom-right-radius: 0.3% 355px;
    border-bottom-left-radius: 360px 2%;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(205, 99, 67, 0.034);
    max-width: 500px; 
}

#contact-header {
    border-bottom: 2px solid black;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.contact-wrapper {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.contactmessage-wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

#contact-button {
    flex: 1;
}

.contact-label {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 5px;
    border: none;
    background-color: rgba(205, 99, 67, 0.203);
    height: 35px;
    font-size: 18px;
    padding-left: 15px;
    box-sizing: border-box;
}

#message {
    border: none;
    border-radius: 5px;
    background-color: rgba(205, 99, 67, 0.203);
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
    box-sizing: border-box;
}

.button-contact {
    padding-left: 52px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#contact-picture {
    width: 100%; 
    height: auto; 
}

@media screen and (max-width: 475px) {
    .container {
        min-width: 475px;

    }

    .right-contact {
        max-width: 300px;
    }

    .contact-container {
        max-inline-size: -webkit-fill-available;
        max-inline-size: fill-available;
    }
}

/* 
@media screen and (max-width: 475px) {
    .container {
        min-width: 320px;

    }

    .right-contact {
        max-width: 450px;
    }
} */

@media screen and (max-width: 640px) {
    .container {
        min-width: 320px;

    }

    .right-contact {
        max-width: 450px;
    }
}


@media screen and (min-width: 768px) {
    #contact {
        /* height: calc(100vh - 80px); */
        
    }

    .container {
        max-width: 768px;
    }
    
    .contact-container {
        flex-direction: row;
    }

    .left-contact {
        display: flex; 
        flex: 1;
    }

    .right-contact {
        flex: 2; 
        max-width: 500px;
        max-height: fit-content;
    }

    #contact-picture {
        width: 100%; 
    }
}

@media screen and (min-width: 1024px) {
    #contact {
        /* height: calc(100vh - 80px); */
    }

    .container {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    #contact {
        /* height: calc(100vh - 80px); */
    }

    .container {
        max-width: 1280px;
    }
    .contact-container {
        padding: 40px; 
        gap: 40px; 
    }

    .left-contact {
        flex: 1; 
    }

    .right-contact {
        flex: 1; 
        max-width: 800px; 
        max-height: fit-content;
    }

    .button-contact {
        padding-bottom: 0;
    }

}


@media screen and (min-width: 1540px) {
    #contact {
        /* height: calc(100vh - 80px); */
    }
    .container {
        max-width: 1540px;
    }

    #contact {
        height: 700px;
    }
    
    .contact-container {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 80px;
        height: 500px;
        margin-left: 80px;
        margin-right: 160px;
        /* margin-bottom: 150px; */
        padding-right: 160px;
        padding-left: 90px;
    
        padding-top: 20px;
        padding-bottom: 20px;
    
    }
    
    .left-contact{
        /* border: 1px solid pink; */
        flex: 1;
    }
    .right-contact{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 450px;
        border-width: 4px 2px 3px 3px;
        border-top-left-radius: 0.22% 275px ;
        border-top-right-radius: 300px 0.7%;
        border-bottom-right-radius: 0.3% 355px;
        border-bottom-left-radius: 360px 2%;
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
        background-color: rgba(205, 99, 67, 0.034);
    
    }
    
    #contact-header {
        border-bottom: 2px solid black;
        flex: 20%;
        padding-left: 170px;
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    
    .contact-wrapper {
        flex: 10%;
        /* border: 1px solid black; */
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 20px;
        margin-top: 15px;
        /* height: 50px; */
    }
    
    .contactmessage-wrapper {
        flex: 30%;
        /* border: 1px solid black; */
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #contact-button {
        flex: 20%;
    }
    
    .contact-label {
        display: flex;
        flex-direction: column;
    }
    
    input {
        border-radius: 5px;
        border: none;
        background-color: rgba(205, 99, 67, 0.203);
        height: 35px;
        font-size: 18px;
        padding-left: 15px;
        box-sizing: border-box;
    }
    
    #message {
        border: none;
        border-radius: 5px;
        background-color: rgba(205, 99, 67, 0.203);
        font-size: 18px;
        padding-left: 15px;
        padding-top: 10px;
        box-sizing: border-box;
    
    }
    
    .button-contact {
        padding-left: 52px;
        padding-bottom: 15px;
    }
    
    #contact-picture {
        height: 85%;
        padding-top: 10px;
    }


}


