HTML {
    scroll-behavior: smooth;
}


MAIN {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

BODY, A, LI, UL {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

BODY {
    background-color: rgb(243, 237, 222);
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    /* border: 2px solid rgba(255, 0, 0, 0.305); */
}

.section-heading {
    font-weight: bolder;
    color: rgb(157, 76, 51);
    font-size: 22px;
    font-family: 'Inconsolata', monospace;
}



@media screen and (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

@media screen and (min-width: 640px) {
    .container {
        max-width: 640px;
    }
    BODY {
        background-color: rgb(243, 237, 222);
        background-size: cover;
        font-family: 'Inconsolata', monospace;
        margin-top: 100px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .section-heading {
        font-size: 24px;
    }
}


@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section-heading {
        font-size: 26px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .section-heading {
        font-size: 28px;
    }
}

@media screen and (min-width: 1540px) {
    .container {
        max-width: 1540px;
    }

    .section-heading {
        font-size: 30px;
    }
}